<!DOCTYPE html>
<html>
<head>
    <title>Forum Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        
        <h1><a href="/new">Submit</a></h1>
        {% for post in posts %}
            <div class="post">
                Posted by: {{ post.username }} <!-- Display the username -->
                
                
                {% if post.media %}
                    {% if post.media.endswith(('jpg', 'png', 'jpeg', 'gif')) %}
                        <img src="{{ post.media }}" alt="Post Media">
                    {% elif post.media.endswith(('mp4', 'webm', 'ogg')) %}
                        <video src="{{ post.media }}" controls></video>
                    {% endif %}
                {% endif %}
                <h1>{{ post.title }}</h1>
                <br>
                {{ post.content }}
                <hr>
            </div>
        {% endfor %}
        <hr>
        <div class="footer">
            <h1>&copy; Your submission is being considered.</h1>
        </div>
    </div>
</body>
</html>
