<!DOCTYPE html>
<html>
<head>

    
    <title>Sign Shape</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1><a href="/new">Submit</a></h1>
        
        {% if posts %}
            {% for post in posts %}
                <div class="post">
                    <p>
                        Posted by: 
                            {% if post.username and post.username != 'Anonymous' %}
                                {{ post.username }}
                            {% else %}
                                You
                            {% endif %}
                        
                    </p>
                    <p>{{ post.content }}</p>

                    {% if post.media %}
                        {% if post.media.endswith(('jpg', 'png', 'jpeg', 'gif')) %}
                            <img src="{{ post.media }}" alt="Post Media">
                        {% elif post.media.endswith(('mp4', 'webm', 'ogg')) %}
                            <video src="{{ post.media }}" controls></video>
                        {% endif %}
                    {% endif %}
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <p>No approved posts available. Please check back later.</p>
        {% endif %}
        
        <div class="footer">
        </div>
    </div>
</body>
</html>
