<!DOCTYPE html>
<html>
<head>
    <title>Submit.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>All submissions must include the sign shape.</h1>
        <form method="post" enctype="multipart/form-data">

            <label>Language:</label>
            <textarea name="content" required></textarea>
                            
            <input type="file" name="media" accept="image/*,video/*">
<br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
